{% extends 'app/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Add a Blog Post
{% endblock %}
{% block head_js %}
<script src="{% static 'js/add_post.js' %}"></script>
{% endblock %}
{% block body_block %}
    <div class="card">
        <h1 class="card-header">Add a Blog Post</h1>
        <form class="card-body" id="blogform" method="post" action="/app/{{ user.username }}/{{ slug }}/add_blog_post/">
            {% csrf_token %}
            <div class="form-group">
              <label id="TitleLabel">Title</label>
                {{ form.title }}
                {{ form.title.errors}}
                <div class="invalid-title invisible text-danger">
                    This trip already has a BlogPost with this title!
                </div>
            </div>
            <div class="form-group">
                <label id="ContentLabel">Content</label>
                {{ form.content }}
                <div class="invalid-content invisible text-danger">
                    Please write something in your blogpost!
                </div>
            </div>
            <input id="submit-button" class="btn btn-primary float-right" type="submit" name="validate" value="Publish"/>
        </form>
    </div>
{% endblock %}
