{% extends 'app/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Edit Trip
{% endblock %}
{% block body_block %}
    <div id="wrapper">
        <div class="card">
            <h1 class="card-header">Edit Trip</h1>
            <form class="card-body" id="tripform" method="post" action="/app/{{ user.username }}/edit_trip/{{ slug }}/">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        Start of Trip
                        {{ form.startDate }}
                    </div>
                    <div class="form-group col-md-6">
                        End of Trip
                        {{ form.endDate }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="formGroupDestinationLabel">Destination</label>
                    {{ form.destinationText }}
                    <div class="invalid-feedback invisible text-danger">
                        Please enter a valid destination (select from Autocomplete)!
                    </div>
                </div>
                <div class="form-group">
                  <label id="TitleLabel">Title</label>
                    {{ form.title }}
                    {{ form.title.errors}}
                    <div class="invalid-title invisible text-danger">
                        You already have a trip with that title!
                    </div>
                </div>
                <input id="submit-button" class="btn btn-primary float-right" type="submit" name="validate" value="Edit Trip"/>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer_block %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
    <!--read-only fields will have white backgrounds-->
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        #wrapper {
            height: 100%
        }

        input[readonly] {
            background-color: white !important;
        }
    </style>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script>
        //Parse the available places from JSON
        var data = JSON.parse('{{ json_data | escapejs }}');
        var availableTags = data.names;
        var trip = data.trip;
    </script>
    <script src="{% static 'js/edit_trip.js' %}"></script>
{% endblock %}
