{% extends 'app/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Home
{% endblock %}
{% block body_block %}
    <header class="masthead text-dark text-center">
        <div class="overlay" id="map"></div>
        <div class="container" id="box">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    {% if user.is_authenticated %}
                        <h1 class="mb-lg-5" id="welcome">Welcome to Travelmate, {{ user.username }}!</h1>
                    {% else %}
                        <h1 class="mb-lg-5">Welcome to Travelmate!</h1>
                        <a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}">Sign up!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>



    <script>
        //currentInfo: Current open InfoWindow
        var currentInfo = null;

        function initMap() {
            //Parse all trips, and homecountry data for current user from JSON
            var data = JSON.parse('{{ json_data | escapejs }}');
            var username = '{{ user.username }}';
            var startLat = parseFloat(data["start"]["lat"]);
            var startLng = parseFloat(data["start"]["lng"]);

            //Init the google map
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: {lat: startLat, lng: startLng},
                mapTypeId: 'terrain'
            });

            //Go trough all trips, and create polylines, attach eventlistener
            var trips = data["trips"];
            for (i = 0; i < trips.length; i++) {

                // list of colors to make the line of trips on the map more colourful

                var color_list = ["#0000ff", "#a52a2a", "#00ffff", "#f817d3", "#008b8b", "#a9a9a9", "#006400", "#bdb76b", "#8b008b", "#556b2f", "#ff8c00", "#9932cc", "#8b0000", "#e9967a", "#9400d3",
                    "#ff00ff", "#ffd700", "#008000", "#4b0082", "#f0e68c", "#add8e6", "#e0ffff", "#f0ffff", "#90ee90", "#d3d3d3", "#ffb6c1", "#ffffe0", "#00ff00", "#ff00ff", "#800000", "#000080", "#808000", "#ffa500", "#000000", "#ffc0cb", "#800080", "#800080", "#ff0000", "#c0c0c0", "#ffffff", "#ffff00"]

                var current = trips[i];
                var endLat = parseFloat(current["lat"]);
                var endLng = parseFloat(current["lng"]);
                var route = [{lat: startLat, lng: startLng}, {lat: endLat, lng: endLng}];
                var line = new google.maps.Polyline({
                    path: route,
                    geodesic: true,
                    strokeColor: color_list[i % color_list.length],
                    strokeOpacity: 1.0,
                    strokeWeight: 3
                });
                if (current.name != "None") {
                    line.setMap(map);
                    bindEvent(line, current, map, username);
                }
            }
        }

        //Binds eventlistener to individual polyline
        function bindEvent(polyLine, trips, map, username) {
            //Creating href string from username, and trip slug
            var urlString = username + "/" + trips.slug + "/";
            //If we are on index page, and not on app home, add app/ to the url
            if (!window.location.pathname.includes("app")) {
                urlString = "app/" + urlString;
            }
            if (trips.sDate == trips.eDate) {
                var dateString = trips.sDate.replace(/-/g, ".");
            } else {
                var dateString = trips.sDate.replace(/-/g, ".") + " - " + trips.eDate.replace(/-/g, ".");
            }
            //Create new InfoWindow, with trip details, and link
            var infowindow = new google.maps.InfoWindow({
                content: dateString +
                "<br />To: " + trips.name +
                "<br />Title: <a href=" + urlString + ">" + trips.title
            });
            google.maps.event.addListener(polyLine, 'click', function (e) {
                //If there is a open infowindow on the map, close it
                if (currentInfo) {
                    currentInfo.close();
                }
                //Open new InfoWindow at event position, and set it to the current
                currentInfo = infowindow;
                infowindow.setPosition(e.latLng);
                infowindow.open(map);
            });
        }

        var previous = '{{ previous }}';
        if (previous.includes('login') || previous.includes('settings')) {
            setTimeout('$("#welcome").fadeOut(1000)', 3000);
        } else {
            setTimeout('$("#welcome").fadeOut(0)', 0);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-R2PpdSaF_ER0VvYoxoCuiNVWDaZ60m4&callback=initMap">
    </script>
    <style>
        #box {
            position: relative;
            float: right;
            right: 12.5%;
            top: -60px;
        }
    </style>
{% endblock %}