{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My Settings
{% endblock %}

{% block head_js %}
    <script src="{% static 'css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script>
    //Parse the available places from JSON
        var data = JSON.parse('{{ json_data | escapejs }}');
        var availableTags = data.names;
    </script>
    <script src="{% static 'js/settings.js' %}"></script>
{% endblock %}

{% block body_block %}
    <div class="card">
        <h1 class="card-header" id="settings">Settings</h1>
        <h1 class="card-header" id="welcome">We need a bit more information about you...</h1>
        <form class="card-body" enctype="multipart/form-data" id="SettingsForm" method="post" action="/app/settings/"
              onsubmit="return validateForm();">
            {% csrf_token %}
            <div class="form-group">
                <label id="formGroupDestinationLabel">Home Country</label>
                {{ form.homeCountryText }}
                <div class="invalid-feedback invisible text-danger">
                    Please enter a valid country (select from Autocomplete)!
                </div>
            </div>
            <script>
                if (data.hc.valueOf() != "".valueOf()) {
                    document.getElementById("country").setAttribute('value', data.hc);
                }
            </script>

            <div class="form-group">
                <span class="pr-5" id="publicSelector">Public? {{ form.public }}</span>
                <span class="alert alert-info"> Check this if you want unregistered users to see your trips!</span>
            </div>
            <label>Profile Picture:</label>
            {{ form.profilePic }}
            <input class="btn btn-primary float-right" type="submit" name="submit" value="Apply"/>
        </form>
    </div>
    <div>
        <ul>
            <li><a href="{% url 'auth_password_change' %}">Change your Password</a></li>
        </ul>
    </div>
{% endblock %}
{% block footer_block %}
    <script>
        var previous = '{{ previous }}',
            settings = document.getElementById('settings'),
            welcome = document.getElementById('welcome');
        if (previous.includes('register')) {
            settings.style.display = 'none';
            welcome.style.display = 'block';
        } else {
            settings.style.display = "block";
            welcome.style.display = "none";
        }
    </script>
{% endblock %}