{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Terms of Use
{% endblock %}

{% block body_block %}



    <h1 id="title">Terms of Use</h1>
    <div class="container">
        <p>Only those who play win. Only those who risk win. History favours risk-takers. Forgets the timid. Everything else is commentary.</p>
        <p id="signature">Iveta Cherneva</p>
    </div>
<style>
    #signature {
        text-align: right;
    }
    #title{
        text-align: center;
    }
</style>


{% endblock %}