{% extends 'app/base.html' %}
{% load staticfiles %}
{% load  app_template_tags %}
{% block title_block %}
    {{ trip.title }}
{% endblock %}

{% block css %}
    .checked{
    color: orange
    }

    .overall{
    color: goldenrod
{% endblock %}

{% block head_js %}
    <script src="{% static 'js/rating.js' %}"></script>
{% endblock %}


{% block body_block %}
    <div class="container">
        <h1>{{ trip.title }}</h1>
        <br>
        You just landed on <a href="{% url 'view_profile' trip.owner %}">{{ trip.owner.username }}</a>'s trip to {{ trip.destination }} <br>
        Trip from {{ trip.startDate }} to {{ trip.endDate }} <br>


        <span><strong id="like_count">Overall score: </strong></span>
            {% if score != "" %}
                {% for o in score %}
                    <span class="fa fa-star fa-2x overall"></span>
                {% endfor %}
            {% else %}
                <span id="norating">Be the first one to rate this trip!</span>
            {% endif %}
        <div>
            {% if request.user != trip.owner %}
                {% if user.is_authenticated %}
                    {% if not rating %}
                        <span id="success"></span>
                        <span id="1" class="fa fa-star fa-2x"></span>
                        <span id="2" class="fa fa-star fa-2x"></span>
                        <span id="3" class="fa fa-star fa-2x"></span>
                        <span id="4" class="fa fa-star fa-2x"></span>
                        <span id="5" class="fa fa-star fa-2x"></span>
                        <button id="rate" data-slug="{{ trip.slug }}" class="btn btn-primary" type="button">
                            Rate
                        </button>
                    {% else %}
                        <span>You rated this Trip: </span>
                            {% for o in rating %}
                                <span class="fa fa-star fa-2x checked"></span>
                            {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>


        {% if elems %}
            <div class="container">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Publish Date</th>
                        <th>Number of Comments</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if elems %}
                        {% for elem in elems %}
                            <tr>
                                <td><a href="{% url 'blog_post' trip.owner trip.slug elem.slug %}">{{ elem.title }}</a>
                                </td>
                                <td>{{ elem.Date }}</td>
                                <td>{{ comments|get_item:elem.title }}</td>
                                <td>
                                    {% if request.user == trip.owner %}
                                        <a class="fa fa-times-circle"
                                           href="{% url 'delete_post' user.username trip.slug elem.slug %}"></a>
                                        <a class="fa fa-edit"
                                                   href="{% url 'edit_post' user.username trip.slug elem.slug %}"></a>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>

                        {% if elems.has_other_pages %}
                            <ul class="pagination">
                                {% if elems.has_previous %}
                                    <li><a href="?page={{ elems.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in elems.paginator.page_range %}
                                    {% if elems.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if elems.has_next %}
                                    <li><a href="?page={{ elems.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    {% endif %}
            </div>
        {% else %}
            {% if request.user == trip.owner %}
                <p>You have not added any blog posts yet!</p>
            {% else %}
                <p>Owner hasn't added any blog posts yet!</p>
            {% endif %}
        {% endif %}
        {% if request.user == trip.owner %}
            <a class="btn btn-primary" href="{% url 'add_blog_post' trip.owner trip.slug %}">Add a New Blog Post</a>
        {% endif %}
    </div>
{% endblock %}