{% extends 'app/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ user.username }}
{% endblock %}
{% block css %}
    img {
      display: block;
      max-width:400px;
      max-height:400px;
      width: auto;
      height: auto;
    }
{% endblock %}
{% block head_js %}
<script>
  $(function () {
    var href;
    var title;
    var elem = $(".deletestart");
    elem.each(function(){
      $(this).click(function(){
        href = $(this).attr("data-href");
        title = $(this).attr("data-title");
        $("#title").text(title);
      });
    });
    $("#deletebutton").click(function(){
      if(href != ""){
        window.location.href = href;
      }
    });
  });
</script>
{% endblock %}
{% block body_block %}
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"><img src="{{ profile.profilePic.url }}"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>{{ user.username }}</h2>
                    <p class="lead mb-0">

                        {% if elems %}
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Destination</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for elem in elems %}
                                    <tr>
                                        <td><a href="{% url 'view_trip' elem.owner elem.slug %}">{{ elem.title }}</a>
                                        </td>
                                        <td>{{ elem.destination }}</td>
                                        <td>{{ elem.startDate }}</td>
                                        <td>{{ elem.endDate }}</td>
                                        {% if request.user == elem.owner %}
                                            <td>
                                              <a data-href="{% url 'delete_trip' user.username elem.slug %}" class="fa fa-times-circle deletestart" href="#"
                                              data-title="{{ elem.title }}" data-toggle="modal" data-target="#deletebox"></a>
                                              <a class="fa fa-edit"
                                                   href="{% url 'edit_trip' user.username elem.slug %}"></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            {% if elems.has_other_pages %}
                                <ul class="pagination">
                                    {% if elems.has_previous %}
                                        <li><a href="?page={{ elems.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in elems.paginator.page_range %}
                                        {% if elems.number == i %}
                                            <li class="active"><span>{{ i }} <span
                                                    class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if elems.has_next %}
                                        <li><a href="?page={{ elems.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        {% else %}
                            The user has no trips yet! <br/>
                        {% endif %}


                    </p>
                </div>
            </div>
        </div>
    </section>

    <div id="deletebox" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="modaltext">Are you sure you want to delete this trip?</p>
            <p id="title"></p>
          </div>
          <div class="modal-footer">
            <button id="deletebutton" type="button" class="btn btn-primary">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
