{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
    Log in
{% endblock %}
{% block body_block %}
    <div>
    <h1>Login</h1>
    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>Username: <input type="text" name="username" value="" size="50" /></p>
        <p>{{ form.username.errors }}</p>
        <p>Password: <input type="password" name="password" value="" size="50" /></p>
        <p>{{ form.password.errors }}</p>
        <input type="submit" value="Log In" />
    </form>
        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a> <br />
        <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
    </div>
    <div>
        <p>
            Want to join Travelmate! <br />
            Follow this link... <br />
            <a href="{% url 'registration_register' %}">Register</a>
        </p>
    </div>
{% endblock %}