<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Register to Travelmate</title>
</head>
<body>
    <h1>Register Here</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    <a href="{% url 'social:begin' 'facebook' %}">Register with Facebook</a> <br />
    <a href="{% url 'social:begin' 'twitter' %}">Register with Twitter</a>
</body>
</html>