{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
Register
{% endblock %}
{% block body_block %}
    <div class="form">
    <h1>Register Here</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Register" />
    </form>
    <a href="{% url 'social:begin' 'facebook' %}">Register with Facebook</a> <br />
    <a href="{% url 'social:begin' 'twitter' %}">Register with Twitter</a>
    </div>
    <style>
    .form {text-align: center}
    </style>
{% endblock %}
