#logo {
    text-align: center;
    background-color: #E0FFFF;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
#menubar {
    text-align: center;
    background-color: #E0FFFF;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
#login {
    text-align:right;
}
footer {
     position:relative;
     bottom:0;
     width:100%;
}
#box {
    min-height: 15vh
}

