<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Add Trip</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
        var calendar_src = '{% static "images/calendar.gif" %}';
        $( ".datepicker" ).datepicker({
          showOn: "button",
          buttonImage: calendar_src,
          buttonImageOnly: true,
          buttonText: "Select date"
        });
    });
    </script>
    <script>
      $( function() {
          var data = JSON.parse('{{ json_data | escapejs }}');
          var availableTags = data.names;
        $( ".destination" ).autocomplete({
            maxResults: 10,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term);
                response(results.slice(0, this.options.maxResults));
            }
        });
      });
  </script>
</head>
<body>
    <div>
		<h1>Add new Trip</h1>
    </div>
    <div>
        <form id="TripForm" method="post" action="/app/add_trip/">
            {% csrf_token %}
            <p>Start of trip: {{ form.startDate }}</p>
            <p>End of trip: {{ form.endDate }}</p>
            <p>Public? {{ form.public }}</p>
            <p>Destination: {{ form.destinationText }} </p>
            <input type="submit" name="submit" value="Add Trip" />
        </form>
    </div>
</body>
</html>