<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Add Trip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        //$ sign is shortcut for jQuery, function that sets up start and end datepickers
        $( function() {
            var calendar_src = '{% static "images/calendar.gif" %}';
            var dateFormat = "mm/dd/yy",
                //Date Range start datepicker function, .on function sets minDate for all datepickers
                start = $( ".start" ).datepicker({
                    showOn: "button",
                    buttonImage: calendar_src,
                    buttonImageOnly: true,
                    buttonText: "Select date",
                    defaultDate: "0",
                    changeMonth: true,
                    changeYear: true,
                }).on( "change", function() {
                    end.datepicker( "option", "minDate", getDate( this ) );
                }),
                //Date Range end datepicker function, .on function sets maxDate for all datepickers
                end = $( ".end" ).datepicker({
                    showOn: "button",
                    buttonImage: calendar_src,
                    buttonImageOnly: true,
                    buttonText: "Select date",
                    defaultDate: "+1w",
                    changeMonth: true,
                    changeYear: true,
                }).on( "change", function() {
                    start.datepicker( "option", "maxDate", getDate( this ) );
                });

            //Returns selected date in correct format from the element
            function getDate( element ) {
                var date;
                try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                } catch( error ) {
                    date = null;
                }
                return date;
            }
        });

      $( function() {
          //Parse the available places from JSON
          var data = JSON.parse('{{ json_data | escapejs }}');
          var availableTags = data.names;
        $( ".destination" ).autocomplete({
            //MaxResults is the number of results displayed when autocompleting
            maxResults: 10,
                //Source is the array of values we can suggest, inner function slices our parsed array
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term);
                response(results.slice(0, this.options.maxResults));
            }
        });
      });
  </script>
</head>
<body>
    <div>
		<h1>Add new Trip</h1>
    </div>
    <div class=" jumbotron">
        <form id="TripForm" method="post" action="/app/add_trip/">
            {% csrf_token %}
            <div class="form-group">
                 <label for="formGroupStartDate">Start of Trip:</label>
                 <p id="formGroupStartDate">{{ form.startDate }}</p>
            </div>
            <div class="form-group">
                 <label for="formGroupEndDate">End of Trip:</label>
                 <p id="formGroupEndDate">{{ form.endDate }}</p>
            </div>

            <label class="custom-control custom-checkbox">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Public?</span>
                {{ form.public }}
            </label>
            <div class="form-group">
                 <label for="formGroupDestination">Destination:</label>
                 <p id="formGroupDestination">{{ form.destinationText }}</p>
            </div>
            <input type="submit" name="submit" value="Add Trip" />
        </form>
    </div>
</body>
</html>