{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
The Best Travelled
{% endblock %}

{% block body_block %}
    <div class="container">
    <h1>The Best-Travelled</h1>
    <div>
        {% if user_list %}
            <ol>
                {% for user in user_list %}

                    <li><a href="{% url 'view_profile' user.0 %}">{{user.0}}</a>, Number of trips: {{user.1}}</li>

                {% endfor %}
            </ol>
        {% else %}
            There are no travellers yet! This is your chance to become the very first one! <br />

            {% if user.is_authenticated %}
                <a href="{% url 'add_trip' %}">Add a New Trip</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
            {% endif %}
        {% endif %}
    </div>
    </div>


{% endblock %}