{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
The Best Travelled
{% endblock %}

{% block body_block %}
    <h1>The Best-Travelled</h1>
    <div>
        {% if user_list %}
            <ol>
                {% for user in user_list %}
                
                    <li>{{user.0}}, Number of trips: {{user.1}}</li>

                {% endfor %}
            </ol>
        {% else %}
            There are no travellers yet! This is your chance to become the very first one! <br />
        {% endif %}


        <a href="{% url 'add_trip' %}">Add a New Trip</a>
    </div>
    <div>
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </div>
{% endblock %}