<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<style>
      #map {
        width: 50%;
        height: 500px;
        background-color: grey;
      }
    </style>
    <title>Home - Travelmate</title>
</head>
<body>
    <div>
		{% if user.is_authenticated %}
            <h1>Welcome to Travelmate, {{ user.username }}!</h1>

        {% else %}
            <h1>Welcome to Travelmate!</h1>
        {% endif %}
    </div>
    <div>
        {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'add_trip' %}">Add a New Trip</a></li>
                <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
            </ul>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
	<h3>Google Map API Test</h3>
    <div id="map"></div>
	
    <script>
	var currentInfo=null;
      function initMap() {
		var data = JSON.parse('{{ json_data | escapejs }}');
		var startLat = parseFloat(data["start"]["lat"]);
		var startLng = parseFloat(data["start"]["lng"]);
		
		var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat: startLat,lng:startLng},
		  mapTypeId: 'terrain'
        });
		
		var trips = data["trips"];
		for(i = 0; i < trips.length; i++){
			var current = trips[i];
			var endLat = parseFloat(current["lat"]);
			var endLng = parseFloat(current["lng"]);
			var route = [{lat:startLat,lng:startLng},{lat:endLat,lng:endLng}];
			var line = new google.maps.Polyline({
			  path: route,
			  geodesic: true,
			  strokeColor: '#a55dad',
			  strokeOpacity: 1.0,
			  strokeWeight: 3
			});
			if(current.name != "None"){
			    line.setMap(map);
			    bindEvent(line, current["name"], map);
            }
		}
      }
	  
	  function bindEvent(polyLine, name, map){
		var infowindow = new google.maps.InfoWindow({
			content: name
		});
		google.maps.event.addListener(polyLine, 'click', function(e) {
			if (currentInfo) {
				currentInfo.close();
			}
			currentInfo = infowindow;
			infowindow.setPosition(e.latLng);
			infowindow.open(map);
		});
	  }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-R2PpdSaF_ER0VvYoxoCuiNVWDaZ60m4&callback=initMap">
    </script>
	
</body>
</html>