{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
Search Results
{% endblock %}

{% block body_block %}
    <div class="container">
        <h1>Search Results</h1>
        {% if user.is_authenticated %}
            {% if login_required %}
                <ul>
                {% for result in login_required %}
                    <li><a href="{% url 'view_profile' result.username %}">{{ result.username }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                No users have been found!
            {% endif %}
        {% else %}
            {% if public %}
                <ul>
                {% for result in public %}
                    <li><a href="{% url 'view_profile' result.username %}">{{ result.username }}</a></li>
                {% endfor %}
            {% else %}
                    No users have been found. Maybe his/her account is not public. <a href="{% url 'login' %}">Log in</a>
                    or <a href="{% url 'registration_register' %}">register</a> to double check.
             {% endif %}
        {% endif %}
    </div>
{% endblock %}