<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings - Travelmate</title>
</head>
<body>
    <h1>Settings</h1>
    <div>
        <a href="{% url 'home' %}">Home</a>
    </div>
    <div>
        <form id="settings+form" method="post" action="/app/settings/">
            {% csrf_token %}
            <p>Home country: {{ form.homeCountry }}</p>
            <p>Public Profile: {{ form.public}}</p>
            <p>Profile Picture: {{ form.profilePic}}</p>
            <input type="submit", name="submit" value="Apply"/>
        </form>
    </div>
</body>
</html>