<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings - Travelmate</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            //We have a function, which for all elements of class .destination, adds autocomplete func
        $( function() {
            //Parse the available places from JSON
          var data = JSON.parse('{{ json_data | escapejs }}');
          var availableTags = data.names;
            $( ".destination" ).autocomplete({
                //MaxResults is the number of results displayed when autocompleting
            maxResults: 10,
                //Source is the array of values we can suggest, inner function slices our parsed array
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term);
                response(results.slice(0, this.options.maxResults));
            }
        });
      });
  </script>
</head>
<body>
    <h1>Settings</h1>
    <div>
        <a href="{% url 'home' %}">Home</a>
    </div>
    <div>
        <form id="settings+form" method="post" action="/app/settings/">
            {% csrf_token %}
            <p>Home country: {{ form.homeCountryText }}</p>
            <p>Public Profile: {{ form.public}}</p>
            <p>Profile Picture: {{ form.profilePic}}</p>
            <input type="submit", name="submit" value="Apply"/>
        </form>
    </div>
</body>
</html>