{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
My Trips
{% endblock %}

{% block body_block %}
    <h1>My Trips</h1>
    <div>
        {% if trips %}
        <ul>
            {% for trip in trips %}
               <li>{{ trip.startDate}}, {{trip.endDate}}, {{trip.destination }}</li>
            {% endfor %}
        </ul>
        {% else %}
            You have not added any trips yet, what are you waiting for? <br />
        {% endif %}
        <a href="{% url 'add_trip' %}">Add a New Trip</a>
    </div>
{% endblock %}