{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
{{trip.title}}
{% endblock %}

{% block body_block %}
<h1>{{trip.title}}</h1>
    <br>
        You just landed on the page {{trip.title}} to {{trip.destination}} <br>
        Trip from {{trip.startDate}} to {{trip.endDate}} <br>
    </div>
    <div class="container">
                   <h5>Recent Posts</h5>
                     <table class="table">
                        <thead>
                          <tr>
                             <th>Title</th>
                             <th>Publish Date</th>
                              <th>Number of Comments</th>
                          </tr>
                         </thead>
                    <tbody>
                    {% for post in posts %}
                       <tr>
                           <td><a href="{% url 'blog_post' trip.owner trip.slug post.slug %}">{{ post.title }}</a></td>
                           <td>{{post.Date}}</td>
                            <td>Not implemented</td>

                    {% endfor %}
                    </tr>
                    </tbody>
                     </table>
                </div>
    <a href="{% url 'add_blog_post' trip.owner trip.slug%}">Add a New Blog Post</a>
        


{% endblock %}