{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
{{trip.title}}
{% endblock %}

{% block body_block %}
<h1>{{trip.title}}</h1>
    <br>
        You just landed on the page {{trip.title}} to {{trip.destination}} <br>
        Trip from {{trip.startDate}} to {{trip.endDate}} <br>
        Overall rating:  {{trip.score}}   <br>

    {% if request.user != trip.owner %}
        {% if not rating %}
        <form id="RatingForm" method="post" action="/app/{{ user.username }}/{{ trip.slug }}/">
            {% csrf_token %}
            <div class="form-group">
                {% for choice in form.score %}
                <span>{{ choice.tag }}</span>
                {% endfor %}
            </div>
            <input class="btn btn-primary" type="submit" name="submit" value="Rate" />
        </form>
        {% else %}
            <p>You rated: {{ rating.0.score }}</p>
        {% endif %}
    {% endif %}

    </div>
    <div class="container">
                  <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Title</th>
                              <th>Publish Date</th>
                              <th>Number of Comments</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            {% if elems %}
                                {% for elem in elems %}
                                  <tr>
                                    <td><a href="{% url 'blog_post' trip.owner trip.slug elem.slug %}">{{ elem.title }}</a></td>
                                    <td>{{ elem.Date }}</td>
                                    <td>{Not implemented</td>
                                    
                                    
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>

                            {% if elems.has_other_pages %}
                              <ul class="pagination">
                                {% if elems.has_previous %}
                                  <li><a href="?page={{ elems.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                  <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in elems.paginator.page_range %}
                                  {% if elems.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                  {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                  {% endif %}
                                {% endfor %}
                                {% if elems.has_next %}
                                  <li><a href="?page={{ elems.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                  <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                              </ul>
                            {% endif %}
                            {% endif %}
                </div>
    <a href="{% url 'add_blog_post' trip.owner trip.slug%}">Add a New Blog Post</a>
        

{% endblock %}