{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
{{user.username}}
{% endblock %}
{% block body_block %}



    <h1>{{ user.username }} </h1>
    {% if profile.profilePic.url != None %}
        <img src="{{ profile.profilePic.url }}">
    {% endif %}
    <div>

		{% if user.is_authenticated %}
			{{ user.homeCountry }} 

        {% else %}
            <h1>Log in to see this user profile</h1>
            <p><a href="{% url 'login' %}">Login</a></p>
            
        {% endif %}

        {% if trips %}
        <ul>
            <h3>Recent trips</h3>
            {% for trip in trips %}
                
               <li>{{ trip.startDate}}, {{trip.endDate}}, {{trip.destination }}</li>
            {% endfor %}
        </ul>
        {% else %}
            The user has no trips yet! <br />
        

        {% endif %}
        
    </div>



{% endblock %}