{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
{{user.username}}
{% endblock %}
{% block body_block %}



    <h1>{{ user.username }} </h1>
    {% if profile.profilePic.url != None %}
        <img src="{{ profile.profilePic.url }}">
    {% endif %}
    <div>

		{% if user.is_authenticated %}
			{{ user.homeCountry }} 

        {% else %}
            <h1>Log in to see this user profile</h1>
            <p><a href="{% url 'login' %}">Login</a></p>
            
        {% endif %}

        {% if trips %}
        <ul>
                <div class="container">
                   <h5>Recent trips</h5>
                     <table class="table">
                        <thead>
                          <tr>
                             <th>Start Date</th>
                             <th>End Date</th>
                             <th>Destination</th>
                          </tr>
                         </thead>
                    <tbody>
                    {% for trip in trips %}
                       <tr>
                           <td>{{ trip.startDate}}</td>
                           <td>{{trip.endDate}}</td>
                           <td>{{trip.destination }}</td>
                            <td>{{trip.title }}</td>
                    {% endfor %}
                    </tr>
                    </tbody>
                     </table>
                </div>
        </ul>
        {% else %}
            The user has no trips yet! <br />
        

        {% endif %}
        
    </div>



{% endblock %}